.bg-content {
    background-image: url("../images/bgGif.gif"); 
    background-size: cover;
    width:100%;
    height:100vh;
    border-radius:10px;
    position:absolute;
    
}




.close-icon{
    border-style: solid;
  border-color: rgb(61, 7, 7);
  border-width:1px;
    }





.logo{
    position:relative;
    width:20vw;     
   top:50%;
   left:50%;
   z-index:10;
      transform:translate(-50%,0%);

}
.sticky-note{
  width: 9vh;
  position: absolute;
  top: 2vh;
  left: 16vw;
}

.notebook{
    width:11vh;
    position:absolute;
    top:1vh;
    left:8vw;;

}
.house{
    width:15vh;
    position:absolute;
    top:0vh;
}


.sticky-note:hover,.notebook:hover,.house:hover,.close-icon:hover {
  filter: contrast(150%);
  transform: translateY(-2px);
}

.navbar{
    background-color: #fff3c788;
    padding:10px;
       border-style: solid;
  border-color: rgb(129, 73, 13);
  border-width:3px;
    
}


.login-button,.signup-button{
  background-color: #ffb235f8;
    font-size:1rem;
      color: #7e270aff;
  font-weight: bold;
  font-family: courier;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    margin-left:10px;
    position:relative;
    top:-27.5vh;
    left:80vw;    
}

.loggedInAs{
    font-family:courier;
    font-weight: bold;
    color:rgb(159, 65, 7);
    position:fixed;
    top: 8.3vh;
     right: 1vw;
    text-shadow: -1px -1px 0 #ff7f08, 1px -1px 0 #b1eaff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

}
.logout-button{
    font-size:1rem;
    background-color: #ffb235f8;
    color:rgb(159, 65, 7);
    font-weight: bold;
      font-weight: bold;

     border-radius: 12px;
     box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
     position:fixed;
    top: 5vh;
     right: 5vw;
}


.logout-button:hover,.login-button:hover,.signup-button:hover{
    
    background-color: #ffd633;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  
}


