
.list-content {
    background-image: url("../images/list-bg.jpg");
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover; /* Optional: ensures the image covers the whole area */
    background-attachment:fixed;
}

.treat-list{
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
    flex-direction:column;

    
    
}




button{
    font-size:1.7rem;
    padding:10px 20px;
    color: white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.5s ease;
}

li{
    font-size:1.7rem;
    padding:15px;
    background-color:rgb(255, 255, 248);
    margin-bottom:10px;
    border: 2px solid rgb(159, 14, 14);
    border-radius:5px;
    display:flex;
    justify-content: center;
    width:50vw;
    position:relative;
      animation: fadeIn 0.4s ease;
    overflow:scroll;

}


.sweets{
    width:14vw;
        position:relative;
      filter: contrast(150%);
      transform:translateY(-2rem);

}
.list-container{
    margin-top:15px;
    background-image:linear-gradient(to bottom, rgba(255, 207, 104, 0.569), rgba(76, 213, 211, 0.476));
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);    padding:50px;
    position:relative;
    background-color:rgba(255, 249, 230, 0.839);
    border: 2px solid rgb(106, 17, 17);
          animation: fadeIn 0.4s ease;


}
.treat-yourself{
    padding:10px;
}
.text{
    flex:1;
    
}

.add-button{
    background-color:rgb(255, 157, 0);
    margin:10px;
}
.add-button:hover,.back-button:hover{
    background-color:rgb(255, 191, 52);
    transform:translateY(-0.2rem);
}

.delete-button{
    color:rgb(0, 0, 0);
    background:none;
}


.delete-button, .up-button, .down-button,.edit-button,.save-button,.cancel-button{
    padding: 1px 12px;
    margin-left:10px;
}

.edit-button{
    color:rgb(0, 185, 0);
    background:none;
}

input[type="text"]{
font-size:1.6rem;
padding:10px;
    border: 2px solid rgb(159, 14, 14);
    width:30vw;
}


ol{
    padding:0;
}

.back-button{
    position:fixed;
    left:2vw;
    top:3vh;
    background-color:rgb(255, 164, 60);
    
    
}

.title{
    font-size:2.0rem;
    background-image:url(../images/text-bg.png);
}

.coin-text{
    font-size:1.6rem;
    font-family:'Courier New', Courier, monospace;
    padding:10px;
    border: none;
    border-bottom: 1px solid black;
    border-radius:5%;
    width:2rem;
    outline:none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coin-icon{
    width:3rem;
    height:100%;

}



.check-icon:hover,.delete-button:hover,.edit-button:hover{
 filter: contrast(150%);
  transform: translateY(-2px);
}

.question-icon{
    position:relative;
    width:3rem;
    margin-right:20px;
}

.coin-icon, .question-icon {
    animation: moveUpDown 1s linear infinite;

}

@keyframes moveUpDown{
    0%, 100% {
        bottom:0;
    }
    50% {
        bottom:3px
    }
}

.check-icon{
    width:1.5rem;
}

.coin-text{
    border: none; /* Remove default border */
  border-bottom: 1px solid black; /* Add a bottom border for the field itself */
    font-size:1.3rem;

}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.list-navbar{
    background-color: #fff3c788;
    padding:10px;
       border-style: solid;
  border-color: rgb(129, 73, 13);
  border-width:3px;
  width:100vw;
    
}


.user-wallet{
    position:absolute;  
    right:1.5vw;
    top:-10vh;
    display:flex;
    align-items:end;
    flex-direction:row-reverse;
}
.wallet{
    width:4.5rem;
    
}



.wallet-coins{
    width:2rem;
    height:100%;
    position:relative;
    padding: 10px;
}

.wallet:hover{
     filter: hue-rotate(45deg) saturate(500%); /* Adjusts hue towards yellow and increases saturation */

}

.buy-btn{
    position: relative;
    width:3rem;
    height:min-content;
    background-color:rgba(255, 248, 42, 0.451);
    padding:10px;
    border-radius:10%;
    border: 1px solid red;
}

.buy-btn:hover{
         filter: hue-rotate(140deg) saturate(100%); /* Adjusts hue towards yellow and increases saturation */
        transform:translateY(-0.2rem);
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
