

.treat-list{
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    margin-top:100px;
}


button{
    font-size:1.7rem;
    padding:10px 20px;
    color: white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:backgground-color 0.5s ease;
}

li{
    font-size:2rem;
    font-weight:bold;
    padding:15px;
    background-color:rgb(255, 255, 248);
    margin-bottom:10px;
    border: 3px solid black;
    border-radius:5px;
    display:flex;
    align-items:center;

}

.text{
    flex:1;
}

.add-button{
    background-color:rgb(255, 157, 0);
    margin:10px;
}
.add-button:hover{
    background-color:rgb(64, 179, 197);
}

.delete-button{
    color:rgb(0, 0, 0);
    background:none;
}


.delete-button, .up-button, .down-button,.edit-button,.save-button,.cancel-button{
    padding: 1px 12px;
    margin-left:10px;
}

.edit-button{
    color:rgb(0, 185, 0);
    background:none;
}

input[type="text"]{
font-size:1.6rem;
padding:10px;
border: 2px solid black;
border-radius:5%;
}


ol{
    padding:0;
}

.back-button{
    position:fixed;
    left:1vw;
    top:3vh;
    
}

.title{
    font-size:2.0rem;
    background-image:url(../images/text-bg.png);
}

.coin-text{
    font-size:1.6rem;
    font-family:'Courier New', Courier, monospace;
    padding:10px;
    border: none;
    border-bottom: 1px solid black;
    border-radius:5%;
    width:2rem;
    outline:none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coin-icon,.check-icon{
    width:3rem;

}

.check-icon:hover,.delete-button:hover,.edit-button:hover{
 filter: contrast(150%);
  transform: translateY(-2px);
}

.question-icon{
    position:relative;
    width:3rem;
    margin-right:20px;
}

.coin-icon, .question-icon {
    animation: moveUpDown 1s linear infinite;

}

@keyframes moveUpDown{
    0%, 100% {
        bottom:0;
    }
    50% {
        bottom:3px
    }
}

.check-icon{
    width:40px;
    postition:relative;
}